<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="Nerd, Dinner, Geek, Luncheon, Dweeb, Breakfast, Technology, Bar, Beer, Wonk" name="keywords" />
    <meta name="description" content="Host and promote your own Nerd Dinner free!" />
    <title>@RenderSection("Title")</title>
</head>
<body>
    @RenderBody()
</body>
</html>